/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}









/*****BORDER-BOX FIX*****/
/************************/


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Bungee', cursive;
}

body.noscroll {
	position: fixed; 
    overflow-y: scroll;
}








/*****DOCUMENT STYLES*****/
/*************************/











/*****INTRO SCREEN*****/


.loader {
	width: 100%;
	height: 100vh;
	background: #3b3c3d;
	position: absolute;
	z-index: 500;
	font-family: 'Kodchasan', sans-serif;
	transition: opacity .7s ease-in-out 2s, visibility .5s ease-in-out 3s, height .5s ease-in-out 3s;
	opacity: 1;
	visibility: visible;
	display: none;
}

.loader.hide {
	opacity: 0;
	visibility: hidden;
	height: 0;
}

.loader div {
	width: 30vw;
	height: 100px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.loader p {
	display: inline-block;
	font-size: 3.5rem;
	color: #fff;

}

.loader p:last-of-type {
	display: block;
	font-size: 2rem;
}





/*****INTRO SCREEN ANIMATION*****/





.loader p:first-of-type {
	transform: rotate(-30deg);
	position: relative;
	top: -60px;
	transition: top .5s ease-in-out, transform .5s ease-in-out, opacity .5s ease-in-out .1s;
	opacity: 0;
}

.loader p:nth-of-type(2) {
	position: relative;
	top: 60px;
	transition: top .5s ease-in-out 1s, opacity .5s ease-in-out 1.1s;
	opacity: 0;
}

.loader p:nth-of-type(3) {
	position: relative;
	top: 60px;
	transition: top .5s ease-in-out .1s, opacity .5s ease-in-out .2s;
	opacity: 0;
}

.loader p:nth-of-type(4) {
	transform: rotate(30deg);
	position: relative;
	top: -60px;
	transition: top .5s ease-in-out .2s, transform .5s ease-in-out .2s, opacity .5s ease-in-out .3s;
	opacity: 0;
}

.loader p:nth-of-type(5) {
	transform: rotate(-45deg);
	position: relative;
	top: 60px;
	transition: top .5s ease-in-out .3s, transform .5s ease-in-out .3s, opacity .5s ease-in-out .4s;
	opacity: 0;
}

.loader p:nth-of-type(6) {
	transform: rotate(45deg);
	position: relative;
	top: -60px;
	transition: top .5s ease-in-out .4s, transform .5s ease-in-out .4s, opacity .5s ease-in-out .5s;
	opacity: 0;
}

.loader p:nth-of-type(7) {
	transform: rotate(-55deg);
	position: relative;
	top: 60px;
	transition: top .5s ease-in-out .5s, transform .5s ease-in-out .5s, opacity .5s ease-in-out .6s;
	opacity: 0;
}

.loader p:nth-of-type(8) {
	transform: rotate(35deg);
	position: relative;
	top: -60px;
	transition: top .5s ease-in-out .6s, transform .5s ease-in-out .6s, opacity .5s ease-in-out .7s;
	opacity: 0;
}

.loader p:last-of-type {
	position: relative;
	top: 70px;
	transition: top .5s ease-in-out 1s, opacity .5s ease-in-out 1.1s;
	opacity: 0;
}



.loader.intro p:first-of-type {
	top: 0;
	transform: rotate(0);
	opacity: 1;
}

.loader.intro p:nth-of-type(2) {
	top: 0;
	opacity: 1;
}

.loader.intro p:nth-of-type(3) {
	top: 0;
	transform: rotate(0);
	opacity: 1;
}

.loader.intro p:nth-of-type(4) {
	top: 0;
	transform: rotate(0);
	opacity: 1;
}

.loader.intro p:nth-of-type(5) {
	top: 0;
	transform: rotate(0);
	opacity: 1;
}

.loader.intro p:nth-of-type(6) {
	top: 0;
	transform: rotate(0);
	opacity: 1;
}

.loader.intro p:nth-of-type(7) {
	top: 0;
	transform: rotate(0);
	opacity: 1;
}

.loader.intro p:nth-of-type(8) {
	top: 0;
	transform: rotate(0);
	opacity: 1;
}

.loader.intro p:last-of-type {
	top: 0;
	opacity: 1;
}




aside {
	display: none;
}



































/*****CATERGORY PAGES STYLES*****/
/********************************/



main {
	width: 100%;
	height: auto;
	background: #fff;
	display: flex;
}

.page-title {
	width: 30vw;
	height: 100vh;
	position: relative;
}

.page-title > div {
	width: 30vw;
	height: 100%;
	position: fixed;
	background: #4b644a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-title div div:first-of-type {
	font-size: 1rem;
	position: absolute;
	color: #ffffff;
	top: 6%;
	left: 36%;
	letter-spacing: 2px;
	z-index: 200;
}

.page-title div div:nth-of-type(2) {
	width: 80%;
	height: 80%;
	position: relative;
}

.page-title div img {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
}




/*****SLIDESHOW ANIMATION*****/


/*.page-title div img:first-of-type {
	animation: slideShow2 24s ease-in-out 10s infinite;
}

.page-title div img:nth-of-type(2) {
	animation: slideShow2 20s ease-in-out 5s infinite;
}

.page-title div img:nth-of-type(3) {
	animation: slideShow2 20s ease-in-out infinite;
}

.page-title div img:nth-of-type(4) {
	animation: slideShow 20s ease-in-out 2s infinite;
}*/







.page-title p:nth-of-type(2) {
	font-size: 2rem;
	margin-top: 2%;
}


nav {
	position: fixed;
	width: 68.9vw;
	height: 5%;
	top: 0;
	right: 0;
	background: #89a894;
	z-index: 50;
	display: flex;
	justify-content: flex-end;
}

nav ul {
	height: 100%;
}

nav ul li {
	display: inline-block;
	padding: 0 20px;
	font-size: .8rem;
	color: #ffffff;
	letter-spacing: 2px;
	height: 100%;
}

nav ul li a {
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	color: inherit;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.photos {
	display: flex;
	width: 68.9vw;
	height: auto;
	position: relative;
	margin-top: 2.5%;
	display: flex;
}

.column img {
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	object-fit: cover;
	z-index: 20;
}






/*****KEYFRAMES*****/







@keyframes slideShow {

	0% {
		opacity: 1;
	}

	10%{
		opacity: 1;
	}

	20%{
		opacity: 0;
	}

	30%{
		opacity: 0;
	}

	40%{
		opacity: 0;
	}

	50%{
		opacity: 0;
	}

	60%{
		opacity: 0;
	}

	70%{
		opacity: 0;
	}

	80%{
		opacity: 0;
	}

	90% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

@keyframes slideShow2 {

	0% {
		opacity: 0;
	}

	10%{
		opacity: 0;
	}

	20%{
		opacity: 1;
	}

	30%{
		opacity: 1;
	}

	40%{
		opacity: 1;
	}

	50%{
		opacity: 0;
	}

	60%{
		opacity: 0;
	}

	70%{
		opacity: 0;
	}

	80%{
		opacity: 0;
	}

	100% {
		opacity: 0;
	}

}













/*****PHOTO ANIMATIONS*****/
/**************************/




.column img {
	transition: opacity .3s ease-in-out;
	-webkit-backface-visibility: hidden;
	cursor: pointer;
}

.column img:hover {
	
}









/*****MODAL WINDOW*****/
/**********************/

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(26, 168, 83, .7);
	z-index: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	transition: transform .5s ease-in-out;
}

.modal.open {
	transform: scale(1);
}

.modal-image {
	position: relative;
	width: auto;
	height: 98vh;
	border: 3px solid orange;
	transform: scale(0);
	transition: transform .5s ease-in-out .1s;
}

.modal-image.open {
	transform: scale(1);
}

.modal-image img {
	width: auto;
	height: 100%;
}

.modal-image img:first-of-type {
	display: none;
}

.modal-image img:nth-of-type(2) {
	display: none;
}

.modal-image img:first-of-type.show {
	display: block;
}

.modal-image img:nth-of-type(2).show {
	display: block;
}


















































































/*****MEDIA QUERIES*****/
/***********************/












/*****MOBILE STYLES*****/







@media screen and (max-width: 426px) {


	header {
		height: 8vh;
		position: absolute;
		z-index: 300;
	}

	.hamburger-menu {
		width: 66.8px;
	}

	aside {
		width: 100%;
	}


	aside > div {
		max-height: 15vh;
		display: flex;
		justify-content: center;
	}

	aside > div:first-of-type {
		margin-top: 8vh;
	}

	aside > div div {
		left: 60px;
		display: flex;
		justify-content: center;
	}

	aside > div div p {
		font-size: 3rem;
		margin-left: 0;
	}




	/*****INTRO STYLES*****/


	.loader div {
		width: 60vw;
	}

	.loader p {
		font-size: 2.5rem;
	}

	.loader p:last-of-type {
		font-size: 1.5rem;
	}




	
}





/*****TABLET STYLES*****/








@media screen and (min-width: 427px) and (max-width: 1023px) {


	header {
		height: 10vh;
		position: absolute;
		z-index: 300;
	}

	.hamburger-menu {
		width: 69.8px;
	}
	
	aside {
		width: 40%;
	}

	aside > div {
		max-height: 18vh;
	}

	aside > div:first-of-type {
		margin-top: 8vh;
	}

	aside > div div {
		left: 80px;
	}

	aside > div div p {
		font-size: 3rem;
	}






	/*****INTRO STYLES*****/



	.loader div {
		width: 80vw;
	}

	.loader p {
		font-size: 3rem;
	}

	.loader p:last-of-type {
		font-size: 1.8rem;
	}






	/*****HAMBURGER STYLES*****/
/**************************/



aside {
	display: none;
}

header {
	width: 100%;
	height: 10vh;
	position: absolute;
	z-index: 300;
}

.hamburger-menu {
	width: 76.8px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	margin-top: 10px;
}

.hamburger-menu span {
	width: 43%;
	height: .1rem;
	background: #000;
	display: block;
	position: relative;
	-webkit-transition: background .6s ease-in-out .4s;
	-o-transition: background .6s ease-in-out .4s;
	transition: background .6s ease-in-out .4s;
}

.hamburger-menu span:before {
	content: "";
	display: block;
	width: 100%;
	height: .1rem;
	background: #000;
	position: relative;
	top: -11px;
	-webkit-transition: top .2s ease-in-out .4s, transform .6s ease-in-out;
	-o-transition: top .2s ease-in-out .4s, transform .6s ease-in-out;
	transition: top .2s ease-in-out .4s, transform .6s ease-in-out;
}

.hamburger-menu span:after {
	content: "";
	display: block;
	width: 100%;
	height: .1rem;
	background: #000;
	position: relative;
	top: 10px;
	-webkit-transition: top .2s ease-in-out .4s, transform .6s ease-in-out;
	-o-transition: top .2s ease-in-out .4s, transform .6s ease-in-out;
	transition: top .2s ease-in-out .4s, transform .6s ease-in-out;
}



/*****HAMBURGER MENU ANIMATION*****/




.hamburger-menu.clicked span {
	background: transparent;
	-webkit-transition: background .4s ease-in-out;
	-o-transition: background .4s ease-in-out;
	transition: background .4s ease-in-out;
}

.hamburger-menu.clicked span:before {
	top: 1px;
	-webkit-transition: top .4s cubic-bezier(0.94,-1.71, 0.26, 1.02), transform .6s ease-in-out .2s;
	-o-transition: top .4s cubic-bezier(0.94,-1.71, 0.26, 1.02), transform .6s ease-in-out .2s;
	transition: top .4s cubic-bezier(0.94,-1.71, 0.26, 1.02), transform .6s ease-in-out .2s;
	-webkit-transform: rotate(405deg);
	-ms-transform: rotate(405deg);
	transform: rotate(405deg);
}

.hamburger-menu.clicked span:after {
	top: 0;
	-webkit-transition: top .4s cubic-bezier(0.94,-1.71, 0.26, 1.02), transform .6s ease-in-out .2s;
	-o-transition: top .4s cubic-bezier(0.94,-1.71, 0.26, 1.02), transform .6s ease-in-out .2s;
	transition: top .4s cubic-bezier(0.94,-1.71, 0.26, 1.02), transform .6s ease-in-out .2s;
	-webkit-transform: rotate(-405deg);
	-ms-transform: rotate(-405deg);
	transform: rotate(-405deg);
}


















/*****PULL OUT MENU*****/




aside {
	width: 30%;
	height: 100vh;
	background: #565656;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 200;
	-webkit-transition: left .7s cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: left .7s cubic-bezier(0.4, 0, 0.2, 1);
	transition: left .7s cubic-bezier(0.4, 0, 0.2, 1);
}

aside.slider {
	left: 0;
}

aside > div {
	flex: 1;
	max-height: 15vh;
	display: flex;
	align-items: center;
}

aside > div:first-of-type {
	margin-top: 8vh;
}

aside > div:nth-of-type(2) {

}

aside > div:nth-of-type(3) {
	
}

aside > div:last-of-type {
	
}

aside > div div {
	width: 70vw;
	height: 13vh;
	position: relative;
	left: 120px;
}

aside > div div p {
	font-size: 3rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-family: 'Kodchasan', sans-serif;
	margin-left: 20px;
}

aside > div:first-of-type div  p {
	color: #000;
	-webkit-text-fill-color: #fff;
	-webkit-text-stroke-width: 1px;
}

aside > div:first-of-type div {
	opacity: 0;
	transition: left .3s ease-in-out, opacity .3s ease-in-out;
}

aside > div:nth-of-type(2) div {
	opacity: 0;
	transition: left .3s ease-in-out, opacity .3s ease-in-out;
}

aside > div:nth-of-type(3) div {
	opacity: 0;
	transition: left .3s ease-in-out, opacity .3s ease-in-out;
}

aside > div:last-of-type div {
	opacity: 0;
	transition: left .3s ease-in-out, opacity .3s ease-in-out;
}






aside.slider > div:first-of-type div {
	opacity: 1;
	left: 0;
	transition: left .3s ease-in-out .5s, opacity .3s ease-in-out .5s;
}

aside.slider > div:nth-of-type(2) div {
	opacity: 1;
	left: 0;
	transition: left .3s ease-in-out .7s, opacity .3s ease-in-out .7s;
}

aside.slider > div:nth-of-type(3) div {
	opacity: 1;
	left: 0;
	transition: left .3s ease-in-out .9s, opacity .3s ease-in-out .9s;
}

aside.slider > div:last-of-type div {
	opacity: 1;
	left: 0;
	transition: left .3s ease-in-out 1.1s, opacity .3s ease-in-out 1.1s;
}






}



